<tr>
	<td><%= link_to bookmark.item.name, bookmark.item %></td>
	<td><%= bookmark.item.price %></td>
	<td><%= bookmark.item.category.name %></td>
	<td><%#=  %></td>
	<td><%= link_to 'Удалить', bookmark, method: 'delete' %></td>
</tr>