<% provide :title, 'Избранное' %>
<h1>Избранное</h1>
<table class="table">
	<thead>
		<th>Наименование</th>
		<th>Цена</th>
		<th>Категория</th>
		<th colspan="2">Действия</th>
	</thead>
	<%= render @bookmarks %>
</table>