<% provide :title, 'Вопросы и ответы' %>
<h1>Вопросы и ответы</h1>
<div id="faq">
	<%= render @faqs %>
</div>
<% if admin? %>
	<div class="form">
		<%= form_for Faq.new do |f| %>
			<%= f.label :question %>
			<%= f.text_area :question %>
			<%= f.label :answer %>
			<%= f.text_area :answer %>
			<%= f.submit 'Create' %>
		<% end %>
	</div>
<% end %>