<tr>
	<td><%= user.id %></td>
	<td><%= user.login %></td>
	<td><%= user.email %></td>
	<td><%= link_to 'Просмотр', user_path(user)			%></td>
	<td><%= link_to 'Изменить', edit_user_path(user)	%></td>
	<td><i class="fa fa-times"></i><%= link_to 'Удалить',	user_path(user),	method: 'delete' unless current_user? user %></td>
</tr>