<% provide :title, "Редактирование #{@user.login}" %>
<h1>Редактирование <%= @user.login %></h1>
<div class="form">
	<%= form_for @user do |f| %>
		<%= render 'users/fields',	f: f %>
		<%= f.submit 'Update' %>
	<% end %>
</div>
	