<% provide :title, 'Пользователи' %>
<h1>Пользователи</h1>
<% unless @users.empty? %>
<table class="table">
	<thead>
		<th>#</th>
		<th>Логин</th>
		<th>email</th>
		<th colspan="3">Действия</th>
	</thead>
	<%= render @users %>
</table>
<%= will_paginate %>
<% end %>
<%= link_to 'Создать', signup_path %>

