<ul id="popular">
	<% @items.each do |x| %>
	<li>
		<div>
			<img data-full="<%= x.image.path.url %>" src="<%= x.image.path.url(:medium) %>" alt="<%= x.image.title %>"/>
			<h2><%= link_to x.name, x %></h2>
			<% if signed_in? %>
			<!-- <div class="form"> -->
				<% unless current_user.in_cart? x %>
					<%= form_for Cart.new do |f| %>
						<%= f.hidden_field :item_id, value: x.id %>
						<%= f.submit 'В корзину' %>
					<% end %>
				<% else %>
					<%= link_to 'Из корзины', current_user.cart_link(x), method: 'delete' %>
				<% end %>
				<% unless current_user.in_bookmarks? x %>
					<%= form_for Bookmark.new do |f| %>
						<%= f.hidden_field :item_id, value: x.id %>
						<%= f.submit 'В избранное' %>
					<% end %>
				<% else %>
					<%= link_to 'Из избранного', current_user.bookmark_link(x), method: 'delete' %>
				<% end %>
			<!-- </div> -->
			<% end %>
			<%#= link_to content_tag('i', class: 'fa fa-cart-arrow-down'), cart %>
			<b class="price"><%= x.price %></b>
			<%= link_to x.category.name, x.category, class: 'cat' %>
			<p><%= x.desc %></p>
		</div>
	</li>
	<% end %>
</ul>