<% provide:title, 'Корзина' %>
<h1>Корзина</h1>
<table class="table">
	<thead>
		<th></th>
		<th>Наименование</th>
		<th>Цена</th>
		<th colspan="2">Действия</th>
	</thead>
	<%= render @carts %>
</table>