<%= render 'shared/error_messages', object: f.object %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :articul %>
<%= f.number_field :articul %>
<%= f.label :category_id %>
<%= f.collection_select :category_id, Category.all, :id, :name %>
<%= f.label :price %>
<%= f.number_field :price %>
<%= f.label :desc %>
<%= f.text_area :desc %>