<h3>Фильтр</h3>
<%= form_tag do %>
	<%= label_tag 'Имя' %>
	<%= text_field_tag :name %>
	<%= label_tag 'Цена' %>
	<%= submit_tag 'Применить' %>
	<%= link_to 'Сбросить', '#', class: 'btn' %>
<% end %>