<tr>
	<td><%= item.id %></td>
	<td><%= item.name %></td>
	<td><%= item.articul %></td>
	<td><%= item.price %></td>
	<td><%= link_to 'Просмотр', item %></td>
	<td><%= link_to 'Изменить', edit_item_path(item) %></td>
	<td><%= link_to 'Удалить', item, method: 'delete' %></td>
</tr>