<ul class="items">
	<% items.each do |x| %>
	<li>
		<img src="<%= x.image.path %>" alt="<%= x.image.title %>">
		<h4><%= link_to x.name, x %></h4>
		<b class="price"><%= x.price %></b>
		<%= link_to x.category.name, x.category, class: 'cat' %>
	</li>
	<% end %>
</ul>