<% provide :title, 'Каталог' %>
<!-- <aside id="filter">
	<%#= render 'filter' %>
	<nav class="cat-nav">
		<%#= render 'categories/tree', root: get_root %>
	</nav>
</aside> -->
<div class="container">
	<%= will_paginate %>
	<%= render 'shared/catalog' %>
	<%= will_paginate %>
</div>

<!-- <aside id="right_bar">
	<div id="last_see">
		<h3>Последнее просмотренное</h3>
		<%#= render 'items', items: get_last_see %>
	</div>
	<div id="popular">
		<h3>Популярное</h3>
		<%#= render 'items', items: get_popular %>
	</div>
</aside> -->
