<% provide :title, "Изменение #{@item.name}" %>
<div class="form">
	<%= form_for @item do |f| %>
		<%= render 'fields', f: f %>
		<%= f.submit 'Изменить' %>
	<% end %>
</div>

<div class="form form-inline">
	<%= form_for Image.new do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= f.text_field :title, placeholder: 'Заголовок' %>
		<%= f.file_field :path, placeholder: 'Изображение' %>
		<%= f.hidden_field :item_id, value: @item.id %>
		<%= f.submit 'Загрузить' %>
	<% end %>
</div>

<ul class="images">
	<h2>Изображения</h2>
	<% @item.images.each do |x| %>
	<li>
		<img src="<%= x.path.url(:thumb) %>" alt="<%= x.title %>">
		<%= link_to content_tag('i', '', class: 'fa fa-times'), x, method: 'delete' %>
	</li>
	<% end %>
</ul>