<% provide :title, 'Items' %>
<h1>Items</h1>
<table class="table">
	<thead>
		<th>#</th>
		<th>Name</th>
		<th>Articul</th>
		<th>Price</th>
		<th colspan="3">Actions</th>
	</thead>
	<%= render @items %>
</table>
<%= link_to 'Create', new_item_path %>