<% provide :title, 'Создание элемента' %>
<h1>Создать элемент</h1>
<div class="form">
	<%= form_for @item do |f| %>
		<%= render 'fields', f: f %>
		<%= f.submit 'Создать' %>
	<% end %>
</div>
	