<% provide :title, @item.name %>
<h1><%= @item.name %></h1>
<small class="form"><%= link_to 'Изменить', edit_item_path(@item), class: 'btn' if admin? %></small>

<div class="row">
	<div id="images">
		<%= image_tag @item.image.path.url(:medium), 'data-full' => @item.image.path.url %>
		<% @item.images.each do |x| %>
			<%= image_tag x.path.url(:thumb), 'data-full' => x.path.url %>
		<% end %>
	</div>

	<div id="item-info">
		<div class="price"><%= @item.price %></div>
		<div class="description">
			<%= @item.desc %>
		</div>

		<div class="form">
			<% unless current_user.in_cart?(@item) %>
				<%= form_for Cart.new do |f| %>
					<%= f.hidden_field :item_id, value: @item.id %>
					<%= f.submit 'В корзину!', class: 'btn' %>
				<% end %>
			<% else %>
				<%= link_to 'Из корзины', current_user.cart_link(@item), method: 'delete', class: 'btn' %>
			<% end if signed_in? %>

			<% unless current_user.in_bookmarks? @item %>
				<%= form_for Bookmark.new do |f| %>
					<%= f.hidden_field :item_id, value: @item.id %>
					<%= f.submit 'В избранное' %>
				<% end %>
			<% else %>
				<%= link_to 'Из избранного', current_user.bookmark_link(@item), method: 'delete', class: 'btn' %>
			<% end if signed_in?  %>
		</div>
	</div>
</div>

<div class="form">
	<%= form_for Comment.new do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= f.text_area :message %>
		<%= f.hidden_field :item_id, value: @item.id %>
		<%= f.submit 'Отправить' %>
	<% end %>
</div>

<ul class="comments">
	<% @item.comments.each do |x| %>
	<li>
		<b><%= x.user.login %></b>
		<i><%= x.created_at %></i>
		<p><%= x.message %></p>
	</li>
	<% end %>
</ul>