@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300,400|Lobster|Open+Sans:300|Play:400,700|Didact+Gothic&subset=latin,cyrillic);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(helpers.css.less);

// Fonts

.fira-sans	{ font-family: 'Fira Sans', sans-serif; }
.lobster	{ font-family: 'Lobster', cursive; }
.open-sans	{ font-family: 'Open Sans', sans-serif; }
.play		{ font-family: 'Play', sans-serif; }
.didact		{ font-family: 'Didact Gothic', sans-serif; }

// Variables
@border-width: 720px;
@base-color: lightcoral;
@second-color: bisque;
@max-width: 1280px;

* { .play; margin: 0; padding: 0; .box-sizing; }
#dev { .lobster; display: inline-block !important; color: white; text-shadow: .1em .2em .3em #222; text-decoration: none; }

#logo { 
	.lobster;
	font-size: xx-large;
	color: white;
	text-shadow: .1em .1em .2em darken(@base-color, 20%);
	.transition(all, ease, .3s);
	&:hover {
		color: @second-color;
		text-shadow: 0 0 3em white;
	}
}

.container { position: relative; margin: 0 auto;	width: 90%; max-width: @max-width; }

table {
	width: 100%;
	thead {
		th {

		}
	}
	tr {
		td {
			text-align: center;
		}
	}
}

.form {
	.transition(all, ease, .5s);
	text-align: left;
	input, label, textarea, .btn {
		font-size: large;
		color: darken(@base-color, 20%);
		outline: none;
		border: none;
		padding: .4em .6em;
		display: block;
		// width: 100%;
		margin: .5em 0;
	}
	input, textarea {
		border: @base-color 1px solid;
		border-radius: .5em;
	}
	// textarea { width: 100%; }
	input[type="file"] {
		border: none;
	}
	input[type="submit"], .btn, input[type="reset"] {
		background: @base-color;
		border: none;
		color: white;
		border-radius: .5em;
		text-decoration: none;
		width: auto;
		display: inline-block;
		cursor: pointer;
		&:hover {
			background: @second-color;
			color: @base-color;
		}
	}
	input[type="file"] {
		// opacity: 0;
		position: relative;
		width: 4em !important;
		padding: .2em;
		margin: 0 2em 0 0;
		// z-index: -1 !important;
		background: @base-color;
		&:before {
			content: "Файл";
			padding: .4em .6em;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: @base-color;
			color: white;
			// z-index: -1;
			&:hover {
				color: @base-color;
				background: @second-color;
			}
		}
	}
	&-inline {
		input:not([type="hidden"]), .btn {
			width: auto;
			display: inline-block !important;
			font-size: medium;
			z-index: 1;
			&:last-child { 
				border-radius: 0 .5em .5em 0;
				margin-left: -1em;
			}
		}
	}
}

body {
	position: relative;
	width: 100vw;
	min-height: 100vh;

	#main-header {
		// position: fixed;
		width: 100vw;
		.linear-gradient(darken(@base-color, 10%), @base-color);
		.transition(all, ease, .3s);
		color: white;
		* { z-index: 2; }
		.row {
			width: 100%;
			display: table;
			padding: 1em 2em;
			&>* {
				vertical-align: middle;
				display: table-cell;
			}
			#logo {}
			#phone { font-size: 2em; font-style: italic; text-align: center; }
			#user-info {
				ul {
					list-style: none;
					margin-left: 1em;
					li {
						a {
							padding: .1em .2em;
							color: white;
							&:hover { color: @second-color; }
						}
					}
				}
			}
			#cart { 
				text-align: right;
				border-right: 1px solid white;
				padding-right: 1em;
				a {	color: white; }
				.shopping-cart {
					display: inline-block;
					color: @base-color;
					background: white;
					margin-top: .5em;
					padding: .3em .4em;
					border-radius: 1em;
					text-decoration: none;
					&:hover {
						background-color: @base-color;
						color: white;
						box-shadow: 0 0 1em @second-color;
					}
				}
			}
		}

		#main-nav {
			text-align: center;
			background: white;
			ul {
				display: inline-block;
				list-style: none;
				li {
					display: inline-block;
					a {
						display: block;
						padding: 1em 2em;
						text-decoration: none;
						color: @base-color;
						&:hover {
							background: @second-color;
						}
					}
				}
			}
		}
		#categories {
			list-style: none;
			text-align: center;
			li {
				display: inline-block;
				position: relative;
				a {
					padding: .5em 1em;
					color: white;
					display: block;
					text-decoration: none;
					&:hover {
						background: @second-color;
						color: @base-color;
					}
				}
				&:hover {
					& > ul { display: block; }
				}
				&>ul {
					left: 0;
				}
				ul {
					width: 100%;
					ul {
						margin-left: 100%;
						top: 0;
					}
					display: none;
					position: absolute;
					background: @base-color;
					width: auto;
					li { display: inline-block; position: relative; width: 100%; }
				}
			}
		}
	}

	#main {
		margin: 2em auto;
		color: @base-color;
	}
}
#popular {
	list-style: none;
	text-align: center;
	li {
		display: inline-block;
		width: 30%;
		margin: 1em auto;
		border-bottom: .1em solid @base-color;
		padding: .5em 1em;
		* {
			color: @base-color;
		}
		img {
			width: 100%;
		}
	}
}

#main-footer {
	.linear-gradient(to top, darken(@base-color, 10%), @base-color);
	color: white;
	text-align: center;
	.container {
		.row {
			padding: 1em 2em;
			display: table;
			width: 100%;
			&>* {
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
	ul {
		list-style: none;
		text-align: left;
		a { color: white; }
		li {
			display: block;
			a {
				display: block;
				padding: .2em;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.form { text-align: center; }
	.social-links {
		text-align: center;
		li {
			margin-top: .2em;
			display: inline-block; 
			text-shadow: .1em .2em .3em #222;
			.transition(all, ease, .3s);
			&:hover {
				text-shadow: 0 0 .5em @second-color;
			}
		}
	}
}

.row {
	display: table;
	&>*{
		display: table-cell;
		vertical-align: middle;
		.box-sizing;
	}
}

img[data-full] {
	cursor: pointer;
}

#item-info {
	vertical-align: top;
	border-left: 1px solid @base-color;
	padding-left: 2em;
	margin-left: 2em;
}

#images {
	position: relative;
	text-align: center;
	padding: 1em;
	img {
		margin: .5em;
		&:first-child {
			display: block;
			width: 100%;
			border-bottom: 1px @base-color solid;
			padding-bottom: 1em;
		}
	}
}

@media screen and (max-width: @border-width) {
	.desktop { display: none !important; }
}
@media screen and (min-width: @border-width) {
	.mobile { display: none !important; }
}