// Place all the styles related to the faqs controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

@base-color: darkslateblue;

#faq {
	list-style: none;
	li {
		display: block;
		margin: 1em auto;
		&>div {
			padding: 0.6em 0.8em;
			color: white;
			font-size: large;
			text-shadow: 0.1em 0.1em 0.2em #222;
			transition: all ease 0.3s;
		}
		.question {
			border-radius: 0.5em;
			background: @base-color;
			cursor: pointer;
			transition: border-radius ease 0.1s;
			&:hover {
				background: lighten(@base-color, 10%);
			}
		}
		.answer {
			height: 0;
			padding-top: 0;
			padding-bottom: 0;
			overflow: hidden;
			border-radius: 0 0 0.5em 0.5em;
			background: lighten(saturate(@base-color, 10%), 20%);
			cursor: default;
		}
		&.active {
			.question {
				border-radius: 0.5em 0.5em 0 0;
			}
			.answer {
				padding-top: 0.6em;
				padding-bottom: 0.6em;
				height: auto;
			}
		}
	}
}