// Mixins
.linear-gradient(@c1, @c2) {
	background: -webkit-linear-gradient(@c1, @c2);
	background:    -moz-linear-gradient(@c1, @c2);
	background:		 ms-linear-gradient(@c1, @c2);
	background: 	  o-linear-gradient(@c1, @c2);
	background: 		linear-gradient(@c1, @c2);
}
.linear-gradient(@c1, @c2, @c3) {
	background: -webkit-linear-gradient(@c1, @c2, @c3);
	background:    -moz-linear-gradient(@c1, @c2, @c3);
	background:		 ms-linear-gradient(@c1, @c2, @c3);
	background: 	  o-linear-gradient(@c1, @c2, @c3);
	background: 		linear-gradient(@c1, @c2, @c3);
}
.linear-gradient(@c1, @c2, @c3, @c4) {
	background: -webkit-linear-gradient(@c1, @c2, @c3, @c4);
	background:    -moz-linear-gradient(@c1, @c2, @c3, @c4);
	background:		 ms-linear-gradient(@c1, @c2, @c3, @c4);
	background: 	  o-linear-gradient(@c1, @c2, @c3, @c4);
	background: 		linear-gradient(@c1, @c2, @c3, @c4);
}
.linear-gradient(@c1, @c2, @c3, @c4, @c5) {
	background: -webkit-linear-gradient(@c1, @c2, @c3, @c4, @c5);
	background:    -moz-linear-gradient(@c1, @c2, @c3, @c4, @c5);
	background:		 ms-linear-gradient(@c1, @c2, @c3, @c4, @c5);
	background: 	  o-linear-gradient(@c1, @c2, @c3, @c4, @c5);
	background: 		linear-gradient(@c1, @c2, @c3, @c4, @c5);
}
.linear-gradient(@c1, @c2, @c3, @c4, @c5, @c6) {
	background: -webkit-linear-gradient(@c1, @c2, @c3, @c4, @c5, @c6);
	background:    -moz-linear-gradient(@c1, @c2, @c3, @c4, @c5, @c6);
	background:		 ms-linear-gradient(@c1, @c2, @c3, @c4, @c5, @c6);
	background: 	  o-linear-gradient(@c1, @c2, @c3, @c4, @c5, @c6);
	background: 		linear-gradient(@c1, @c2, @c3, @c4, @c5, @c6);
}
.box-sizing {
	box-sizing: -webkit-border-box;
	box-sizing:    -moz-border-box;
	box-sizing:     -ms-border-box;
	box-sizing:      -o-border-box;
	box-sizing:  		border-box;
}
.transition(@c1, @c2) {
	-webkit-transition: @c1 @c2;
	   -moz-transition: @c1 @c2;
		-ms-transition: @c1 @c2;
		 -o-transition: @c1 @c2;
			transition: @c1 @c2;
}
.transition(@c1, @c2, @c3) {
	-webkit-transition: @c1 @c2 @c3;
	   -moz-transition: @c1 @c2 @c3;
		-ms-transition: @c1 @c2 @c3;
		 -o-transition: @c1 @c2 @c3;
			transition: @c1 @c2 @c3;
}
.transition(@c1, @c2, @c3, @c4) {
	-webkit-transition: @c1 @c2 @c3 @c4;
	   -moz-transition: @c1 @c2 @c3 @c4;
		-ms-transition: @c1 @c2 @c3 @c4;
		 -o-transition: @c1 @c2 @c3 @c4;
			transition: @c1 @c2 @c3 @c4;
}
.blur(@c1) {
	-webkit-filter: blur(2px);
	   -moz-filter: blur(2px);
		-ms-filter: blur(2px);
		 -o-filter: blur(2px);
			filter: blur(2px);
}

// Helpers
.vertical-middle {
	display: inline-block;
	position: relative;
	width: 0 !important;
	height: 100%;
	vertical-align: middle;
}