// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

ul.images {
	li {
		display: inline-block;
		position: relative;
		border: 1px solid #222;
		max-height: 100px;
		overflow: hidden;
		img {
			height: 100px;
			position: relative;
		}
		a {
			position: absolute;
			padding: .3em;
			top: 0;
			right: 0;
			color: white;
			text-shadow: 0 0 1px black,
						 0 0 .3em #222;
			&:hover {
				color: red;
			}
		}
	}
}