<% provide :title, 'Отзывы' %>
<h1>Отзывы</h1>
<ul id="reviews">
	<%= render @reviews %>
</ul>

<% if signed_in? %>
	<div class="form">
		<%= form_for review_object do |f| %>
			<%= f.label :title %>
			<%= f.text_field :title %>
			<%= f.label :mark %>
			<%= f.number_field :mark, min: 1, max: 5 %>
			<%= f.label :message %>
			<%= f.text_area :message %>
			<%= f.submit 'Отправить' %>
		<% end %>
	</div>
<% else %>
	<p><%= link_to 'Авторизуйтесь', signin_path %> для того, чтобы оставить отзыв.</p>
<% end %>