<div class="row">
	<ul>
		<h2><%= link_to 'Каталог',				catalog_path %></h2>
		<% get_root.each do |x| %>
		<li><%= link_to x.name, x %></li>
		<% end %>
	</ul>
	<ul>
		<h2>Магазин</h2>
		<li><%= link_to 'О нас', 				about_path %></li>
		<li><%= link_to 'Помощь', 				help_path %></li>
		<li><%= link_to 'Оплата',	'#' %></li>
		<li><%= link_to 'Доставка',	'#' %></li>
		<li><%= link_to 'Вопросы и ответы', 	faqs_path %></li>
		<li><%= link_to 'Отзывы', 				reviews_path %></li>
		<li><%= link_to 'Контакты', 			contacts_path %></li>
	</ul>
	<div>
		<h2>Понравился наш магазин?</h2>
		<h3>Поделитесь им с друзьми</h3>
		<ul class="social-links">
			<li><a href="#"><i class="fa fa-2x fa-vk"></i></a></li>
			<li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a></li>
			<li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a></li>
		</ul>
		<div class="form form-inline">
			<%= form_tag do %>
				<%= phone_field_tag :phone %>
				<%= submit_tag 'Заказать звонок' %>
			<% end %>
		</div>
		Создано <a href="http://voove.ru" id="dev">VooVe</a> <br>
		специально для ... 2015
	</div>
</div>