<div class="row">
	<div id="nav-btn" class="mobile">Меню</div>
	<a href="/" id="logo">Stefany</a>
	<div id="phone"><i class="fa fa-mobile-phone"></i>+7(987)654-32-10</div>
	<% if signed_in? %>
		<div id="cart">
			<p>
				В вашей корзине <%= current_user.carts.count %> товара<br/> на сумму <span class="price"><%= cart_prices %> р</span>
			</p>
			<a href="<%= carts_path %>" class="shopping-cart">
				<i class="fa fa-shopping-cart"></i> Просмотреть
			</a>
		</div>
		<div id="user-info">
			<ul>
				<li>
					<i class="fa fa-user"></i>
					<%= link_to current_user.login,	user_path(current_user) %>
				</li>
				<li>
					<i class="fa fa-star"></i>
					<%= link_to "Избранное(#{current_user.bookmarks.count})", bookmarks_path %>
				</li>
				<li>
					<i class="fa fa-sign-out"></i>
					<%= link_to 'Выход',	signout_path, method: 'delete' %>
				</li>
			</ul>
		</div>
	<% else %>
		<div id="user-info">
			<ul>
				<li><%= link_to 'Вход',	signin_path %></li>
				<li><%= link_to 'Регистрация',	signup_path %></li>
			</ul>
		</div>
	<% end %>
</div>
<nav id="main-nav">
	<ul>
		<li><%= link_to 'Каталог', 			catalog_path %></li>
		<!-- <li><%#= link_to 'Блог',				'#' %></li> -->
		<li><%= link_to 'Помощь',			help_path %></li>
		<li><%= link_to 'Вопросы и ответы', faqs_path %></li>
		<li><%= link_to 'Отзывы',			reviews_path %></li>
		<li><%= link_to 'Контакты',			contacts_path %></li>
		<li><%= link_to 'О магазине',			about_path %></li>
	</ul>
</nav>
<div id="categories">
	<%= render 'categories/tree', root: get_root %>

	<!-- <li>
		<a href="#">Куклы</a>
		<ul class="inner">
			<li><a href="#">Керамические</a></li>
			<li><a href="#">Тряпочные</a></li>
		</ul>
	</li>
	<li><a href="#">Игрушки</a></li>
	<li><a href="#">Декор</a></li>
	<li><a href="#">Всё</a></li> -->
</div>

