<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, user-scalable-no">
		<title><%= full_title(yield(:title)) %></title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<header id="main-header">
			<div class="container">
				<%= render 'layouts/header' %>
			</div>
		</header>
		<section id="main" class="hero">
			<div class="container">
				<ul id="alerts">
					<% flash.each do |key, value| %>
						<li class="alert alert-<%= key %>"><%= value %></li>
					<% end %>
				</ul>
				<%= yield %>
			</div>
		</section>
		<footer id="main-footer">
			<div class="container">		
				<%= render 'layouts/footer' %>
			</div>
		</footer>
	</body>
</html>
